/*Defines the color for the whole page*/
body {
  background-color: #f1f5f7;
}
/*Defines the most common style for parragraphs*/
p{
  position: absolute;
  left: 250px;
  font-family: "Gill Sans Book", "Gill Sans", sans-serif;
  font-size: 1em;
  white-space: pre-line;
}
/*Defines the most common style for images*/
img{
  position: absolute;
  padding: 0px;
}
/*Defines the most common properties of any container (mostly divs and boxes)*/
.container{
  position: absolute;
}


/*Style order template
  1.-Background or box
  2.-Images elements
  3.-Text elements*/

/*Style of the header tab and its elements*/
#header{
  position: fixed;
  width: 100%;
  height: 88px;
  top: 0px;
  left: 0px;
  background-color: #252525;
  z-index: 10;
}
#logo{
  top: 16px;
  left: 250px;
}
#client1{
  position: absolute;
  top: 32px;
  right: 250px;
  font-family: "Gill Sans Book", "Gill Sans", sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
#client1:hover{
  font-weight: bold;
}

/*Style for first section and its components*/
#part1{
  width: 100%;
  height: 535px;
  top: 88px;
  left: 0px;
  background-image: url(../img/Compu.png);
  background-repeat: no-repeat;
}
#free1{
  top: 320px;
  left: 250px;
}
#hd1{
  top: 70px;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}
#p1{
  top: 200px;
  color: #ffffff;
}

/*Style for second section and its components*/
#part2{
  width: 100%;
  height: 465px;
  top: 623px;
  left: 0px;
}
#hex1{
  top: 75px;
  right: 570px;
}
#hex12{
  top: 75px;
  right: 410px;
}
#hex13{
  top: 75px;
  right: 250px;
}
#hex2{
  top: 215px;
  right: 490px;
}
#hex22{
  top: 215px;
  right: 330px;
}
#hd2{
  top: 70px;
  font-size: 2em;
  font-weight: bold;
  color: #ff6319;
}
#p2{
  top: 200px;
  color: #252525;
}

/*Style for third section and its components*/
#part3{
  width: 100%;
  height: 405px;
  top: 1090px;
  left: 0px;
  background-image: url(../img/Foto.png);
  background-repeat: no-repeat;
}
#list{
  padding-left: 0px;
  top: 100px;
  left: 250px;
  font-family: "Gill Sans Book", "Gill Sans", sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  list-style-image: url(../img/check.png);
  list-style-position: inside;
}

/*Style for fourth section and its components*/
#part4{
  width: 100%;
  height: 534px;
  top: 1495px;
  left: 0px;
}
#box{
  width: 100%;
  height: 178px;
  top: 178px;
  background-color: #252525;
}
#sum{
  top: 64px;
  left: 35%;
}
#eq{
  top: 64px;
  right: 35%;
}
#inLay{
  width: 20%;
  top: 60px;
  right: 40%;
  left: 40%;

}
#free2{
  top: 140px;
  right: 40%;
  left: 40%;
  width: 20%;
}
#hd3{
  width: 100%;
  top: 40px;
  left: 0px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #ff6319;
}

/*Style for fifht section and its components*/
#part5{
  width: 100%;
  height: 790px;
  top: 2029px;
  left: 0px;
}
#box2{
  width: 1191px;
  height: 243px;
  top: 0px;
  background-image: url("../img/Page1.png");
  background-repeat: no-repeat;
}
#box3{
  width: 1191px;
  height: 243px;
  top: 380px;
  right: 0px;
  background-image: url("../img/plecanegra.png");
  background-repeat: no-repeat;
}
#acs{
  top: 64px;
  left: 675px;
}
#ic1{
  bottom: 90px;
  left: 478px;
}
#ic2{
  bottom: 90px;
  left: 629px;
}
#ic3{
  bottom: 90px;
  left: 766px;
}
p.mini{
  position: absolute;
  bottom: 30px;
  font-size: .8em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  white-space: pre-line;
}
#hd4{
  margin: 0px;/*?*/
  bottom: 105.5px;
  left: 200px;
  font-size: 2em;
  color: #ffffff;
}
#hd5{
  margin: 0px;/*?*/
  bottom: 105.5px;
  left: 50px;
  font-size: 2em;
  color: #ffffff;
}
#m1{
  left: 470px;
}
#m2{
  left: 606px;
}
#m3{
  left: 774px;
}

/*Style for sixht section and its components*/
#part6{
  width: 100%;
  height: 300px;
  top: 2820px;
  left: 0px;
  background-color: #ff6319;
}
form{
  position: absolute;
  width: 100%;
  height: 182px;
  top: 90px;
}
.cold{
  padding: 0px;
  border: hidden;
  width: 100%;
  height: 25px;
  top: 20px;
  font-family: "Gill Sans Book", "Gill Sans", sans-serif;
  color: #ffffff;
  background-color: #252525;
}
#sbm{
  position: absolute;
  padding:5px 15px;
  border: hidden;
  width: 100%;
  bottom: 10px;
  font-family: "Gill Sans Book", "Gill Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #252525;
  background: #f1f5f7;
  cursor: pointer;
  -webkit-border-radius: 5px;
}
#in3{
  height: 40px;
}
#hd6{
  right: 0px;
  bottom: 198px;
  left: 0px;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
label{
  position: absolute;
  left: 25%;
  right: 25%;
  font-family: "Gill Sans Book", "Gill Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #f1f5f7;
  text-align: center;
}

/*Style for sevenht section and its components*/
#part7{
  width: 100%;
  height: 395px;
  top: 3270px;
  left: 0px;
  background-color: #252525;
}
#trans{
  top: 100px;
  left: 250px;
}
hr{
  position: absolute;/*Necessary in these elements!*/
  width: 70%;
  right: 15%;
  bottom: 168px;
  left: 15%;
  color: #C8C8C8;
}
.ftpg {
  position: absolute;
  font-family: "Gill Sans Book", "Gill Sans", sans-serif;
  font-size: 12px;
  color: #C8C8C8;
  text-decoration: none;
  white-space: pre-line;
}
a.ftpg:hover {
  font-weight:bold;
}
#cprgth{
  top: 150px;
  left: 250px;
  font-weight: bold;
}
#col1{
  top: 108px;
  left: 485px;
}
#social{
  position: absolute;/*Necessary in this ID!*/
  width: 150px;
  height: 150px;
  top: 108px;
  right: 250px;
}
